/* 公共样式 */
body {
    font-size: 16px !important;
    font-family:Adobe 黑体 Std;
}
@media only screen and (max-width: 500px) {
	body {
        font-size: 14px !important;

    }
}
.w{width: 1200px;margin: 0 auto;}
/** 基础布局  清除空隙  需在外层容器加上 dib-box，dib 可单独使用*/
.dib-box { font-size: 0; /* 所有浏览器 */ *word-spacing: -1px; /* IE6/7 */ }
@media (-webkit-min-device-pixel-ratio: 0) { .dib-box { letter-spacing: -5px; /* Safari 5- 等不支持 font-size: 0 的浏览器 */ } }
.dib-box .dib {vertical-align: top;font-size: 14px;letter-spacing: normal;word-spacing: normal;line-height: inherit;}
.dib{display: inline-block; *display: inline; *zoom: 1; }
/*自适应两端对齐组件 外层加上 justify，内部需要两端对齐的元素都加上 dib,dib 与 justify 不要同时出现*/
/*防止行高增大  尽量不要在父元素上设置行高*/
.justify, .dib-box .justify { font-size: 0; line-height: inherit; }
.justify {text-align: justify;text-justify: inter-ideograph; /* IE 6-7 */ *zoom: 1; /* IE 6-7 触发 hasLayout 使一行也能两端对齐 */-moz-text-align-last: justify;text-align-last: justify; /* IE 8+ */}
/*** 不支持 text-align-last 的浏览器用伪元素模拟* 1. margin-left:100% 仅 WebKit 支持*/
.justify:after { content: ""; display: inline-block; width: 100%; /* 1 */ }
/* 子元素取消两端对齐 */
.justify .dib {-moz-text-align-last: auto;text-align-last: auto;text-justify: auto;text-align: left;font-size: 12px;letter-spacing: normal;word-spacing: normal;}
/* 弹性盒子 */
.clearfix:after{content: '\0020'; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix{*zoom: 1; }
.fl{float: left;}
.fr{float: right;}
.db {display: block}
.dib {display: inline-block}
.fbox {display: flex;}
.fbox-column {flex-direction: column}
.fg1,.fg2,.fg3,.fg4,.fg5,.fg6,.fg7,.fg8,.fg9{width: 1px}
.fg1 {flex-grow: 1}
.fg2 {flex-grow: 2}
.fg3 {flex-grow: 3}
.fg4 {flex-grow: 4}
.fg5 {flex-grow: 5}
.fg6 {flex-grow: 6}
.fg7 {flex-grow: 7}
.fg8 {flex-grow: 8}
.fg9 {flex-grow: 9}
.fbox-ac,
.fbox-acenter {align-items: center;}
.fbox-w,
.fbox-wrap {flex-wrap: wrap;}
.fbox-jc,
.fbox-jcenter {justify-content: center;}
.fbox-jb,
.fbox-jbetween {justify-content: space-between;}
.fbox-ja,
.fbox-jaround {justify-content: space-around;}
.fbox-base {align-items: baseline;}
.fbox-r {justify-content: flex-end}
.fsh{flex-shrink: 0;}
.ell {overflow: hidden;word-wrap: normal;white-space: nowrap;text-overflow: ellipsis;}
.ell_1 {overflow: hidden;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.ell_2 {overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
/* 重置样式 */

/*对齐方式*/
.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}
.tj{text-align:justify;}
/* 主题背景色 */
.bg-white {background: #fff;}
.bg-orange{background: #ff822f;}
/* 字体颜色 */
.color-hui{color: #666;}
.color-red {color: #EF3131;}
.color-gray {color: #333;}
.color-white {color: #fff;}
.color-light-grays{color: #888;}
.color-light-gray {color: #999;}
.color-orange {color: #ff822f;}
.color-black{color: #000;}
.color-green{color: #22ac38;}
.color-page{color:#7BB10A  ;}
/* 间距*/
.pad20 {padding: 20px;}
.mar20 {margin: 20px;}
.mr {margin-right: 20px;}
.ml {margin-left: 20px;}
.mb {margin-bottom: 20px;}
.mt {margin-top: 20px;}
.pt {padding-top: 20px;}
.pb {padding-bottom: 20px;}
.pl {padding-left: 20px;}
.pr {padding-right: 20px;}
.mt-line{margin-top: 1px;}
.mb-line{margin-bottom: 1px;}

/* 列表修饰 */
.mb-list {margin-bottom: 1px}
.mt-list {margin-top: 1px}
.mb-bor {border-bottom: 1px solid #f5f5f5}
.mt-bor {border-top: 1px solid #f5f5f5}

/* 字体相关 */
.norm-text {font-size: 12px;}
.small-text {font-size: 14px;}
.larg-text {font-size: 16px;}
.large-text {font-size: 18px;}
.larger-text {font-size: 20px;}
.bi-text{font-size: 50px;}
.big-text {font-size: 60px;}
.bigr-text {font-size: 70px;}
.font-bold {font-weight: bold;}
.upper-text {text-transform: uppercase;}
.delete-text {text-decoration: line-through}

/* 清除浮动 */
.clear{
    overflow: hidden;
}